
3D/~$*.SLDPRT
Electronics/SimpleFlashlight/History/*.*
SimpleFlashlight/Electronics/lib/**
SimpleFlashlight/Electronics/SimpleFlashlight/Project Logs for SimpleFlashlight/*
Electronics/SimpleFlashlight/__Previews/*
Electronics/Calculation.txt
Electronics/lib/DC-DC1/History/PMP12082_TID.~(1).PcbLib.Zip
Electronics/SimpleFlashlight/Project Logs for SimpleFlashlight/*.LOG
*.~*.*.Zip
~$*.*
*.LOG
Electronics/SimpleFlashlight/Project Outputs for SimpleFlashlight/Design Rule Check - SimpleFlashlight.html
Electronics/SimpleFlashlight/Project Outputs for SimpleFlashlight/Design Rule Check - SimpleFlashlight.drc
Electronics/SimpleFlashlight/Project Outputs for SimpleFlashlight/Status Report.Txt
Electronics/SimpleFlashlight/*.err
SimpleFlashlight/Electronics/SimpleFlashlight/Project Logs for SimpleFlashlight/
SimpleFlashlight/Electronics/SimpleFlashlight/__Previews/*
Assembling manual.docx
ToDo.txt
Rendering/*.*
BOM.xlsx
Electronics/BOMforPCB.xlsx
Electronics/lib/**
Electronics/SimpleFlashlight/__Previews/*.*
Electronics/lib/
Drawings/__Previews/
SimpleFlashlight.drawio
